@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="register-page" style="background-color:#0E1015">

    <div class="register-box">

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registrar Créditos</p>

                <form asp-controller="Credit" asp-action="AdicionarCreditos" method="post">
                    <div class="input-group mb-3">
                        <input name="ValorCredito" type="number" class="form-control" placeholder="Valor de crédito">
                    </div>
                    <div class="input-group mb-3">
                        <input name="DataCredito" type="date" class="form-control" placeholder="Data de cadastro">
                    </div>
                    <div class="input-group mb-3">
                        <input name="DataExpiracao" type="date" class="form-control" placeholder="Data de expiração">
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>